@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
* {
    margin: 0;
    padding: 0;
    user-select: none;
}

@font-face {
    font-family: "RomansStory";
    src: url("assets/fonts/RomansStory.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "RomansStory", sans-serif;
    color: #fff;
}
.firstSection {
    background: #000000;
    height: 100vh;
}
.navbar a {
    color: #fff;
    text-decoration: none;
}
.navbar h1 {
    font-weight: 200;
    color: #fff;
    text-decoration: none;
    font-size: 5em;
    padding-top: 0.15em;
    padding-left: 0.25em;
}
/* .hero {
} */
.hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.hero-content h1{
    font-size: 15em;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 900;
    letter-spacing: 10px;
    text-align: center;
    /* color: red; */
    position: absolute;
    top: 10%;
    /* left: 50%; */
}
.hero-content p{
    font-weight: 200;
}
/* .hero-content {
    display: none;
} */
.shower {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.showerImage {
    margin-top: 5em;
    max-width: 90vw;
    align-items: center;
    border-radius: 75px;
    filter: brightness(0.5);
}