@font-face {
  font-family: RomansStory;
  src: url(assets/fonts/RomansStory.otf);
}
* {
  padding: 0;
  margin: 0;
  font-family: RomansStory;
}
body {
  background-color: #252525;
}
section {
  min-height: 100vh;
  scroll-snap-align: center;
}
.main {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.hero {
  height: 100vh;
  background-image: url(assets/images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}
.fab {
  position: absolute;
  bottom: 1.2rem;
  right: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: white;
}
.fab a {
  text-decoration: none;
  color: black;
  border: none;
}
.title {
  font-size: 5rem;
  text-align: center;
}
.subtitle {
  font-size: 2.5rem;
  text-align: center;
}
.first {
  display: flex;
  justify-content: center;
}
.slider-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slider-wrapper img {
  height: 90vh;
  width: auto;
  aspect-ratio: 4/5;
  align-self: center;
  border-radius: 1.3rem;
}
.myslides {
  display: none;
}
.dots {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  bottom: 2.5rem;
}
.dot {
  height: 1em;
  width: 1rem;
  align-self: center;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.7rem;
  transition: width 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}
.active {
  width: 2rem;
  background-color: white;
}
.fade {
  animation: fade ease 500ms;
}
@keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
/* Video */
video {
  background-color: black;
  opacity: 0.2;
  position: absolute;
  overflow: hidden;
  object-fit: cover;
}
.video-potrait {
  display: none;
}
.video-landscape {
  height: 100%;
  width: 100%;
}

.ticket-form {
  background-image: url(assets/images/form.jpg);
  background-position: center center;
  background-size: cover;
}
.form-title {
  text-align: center;
  font-size: 3rem;
  color: white;
  padding: 20px;
}
.full {
  height: 100vh;
}
.ticket-form form {
  margin-top: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.input-box input {
  padding: 3px 5px;
}
@media screen and (max-width: 426px) {
  .title {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .video-landscape {
    display: none;
  }
  .video-potrait {
    display: block;
    width: 100%;
    height: 100%;
  }
  .slider-wrapper img {
    width: 90vw;
    height: auto;
  }
  .dot {
    width: 0.7rem;
    height: 0.7rem;
  }
  .active {
    width: 1.5rem;
  }
}
