* {
	margin: 0px;
	padding: 0px;
	font-family: "RomansStory";
    src: url("assets/fonts/RomansStory.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  body{
	background: url(./assets/bg.png) no-repeat;
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	height: max-content;
	width: 100%;
  }

  h1{
	font-size:4rem;
	text-align: center;
	padding: 20px 0px;
	color: red;
  }

 .starting{
	width: 20%;
 }

  .home {
	/* background: url(./assets/background.jpg) no-repeat;
	background-size: cover;
	background-position-x: center;
	background-position-y: center; */
	padding: 100px 500px;
  }

  li{
	list-style: none;
  }

  .start ul li:nth-child(1) {
	background: url(./assets/pline-2.png) 65px top no-repeat !important;
	/* padding-top: 80px !important; */
  }
  
  .start ul li:nth-child(odd) {
	background: url(./assets/pline-2.png) 65px top no-repeat;
	/* padding-top: 30px !important; */
	padding-left: 390px !important;
  }
  
  .start ul li:nth-child(even) {
	background: url(./assets/Vector\ 3\ \(1\).png) 65px top no-repeat;
	/* padding-top: 100px !important; */
  }
  
  .start ul li .icon {
	margin: 30px 0;
	display: inline-block;
	height: 124px;
	margin-right: 30px;
	width: 124px;
	text-align: center;
  }
  
  .start ul li h4 {
	color: black;
	text-transform: uppercase;
	font-size: 30px;
  }
  
  .start ul li .media-body {
	max-width: 390px;
  }

  .start ul li .media-body h4{
	font-weight: bold;
  }
  
  
  .start ul li p {
	color: black;
  }
  
  .home .process:after {
	background: url(./assets/process-top.png) center top no-repeat;
	height: 100%;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 1;
  }
  
  .home .process:before {
	position: absolute;
	top: 0;
	content: "";
	width: 100%;
	left: 0px;
	background: white;
  }

  .skull{
	background: url(./assets/skull-clrchng.png) no-repeat;
	height: 200px;
	width: 200px;
	background-size: contain;
	left: 7%;
	bottom: -280px;
	position: absolute;
  }

  .destination{
	background: url(./assets/cross-removebg.png) no-repeat;
	height: 100px;
	width: 100px;
	background-size: contain;
	left: 57%;
	bottom: -800px;
	position: absolute;
  }
  
  .treasure{
	background: url(./assets/treasure.png) no-repeat;
	background-size: contain;
	height: 200px;
	visibility: hidden;
	width: 200px;
	margin-top: 50px;
  }

  /* animations */
/* .compass{
	background: url(./assets/compass-removebg.png);
	background-size: cover;
	width: 450px;
	height: 450px;
	position: absolute;
	left: 0;
	top: 300px;
	animation: rotate360 5s infinite linear;
} */

.mountain1{
	background: url(./assets/mountain-removebg.png) no-repeat;
	background-size: contain;
	width: 300px;
	height: 300px;
	position: absolute;
	right: 278px;
    top: 811px;
}

.mountain2{
	background: url(./assets/mountain-removebg.png) no-repeat;
	background-size: contain;
	width: 300px;
	height: 300px;
	position: absolute;
	right: 500px;
	top: 800px;
}

.mountain3{
	background: url(./assets/mountain-removebg.png) no-repeat;
	background-size: contain;
	width: 300px;
	height: 300px;
	position: absolute;
	right: 550px;
	top: 770px;
}

.mountain4{
	background: url(./assets/mountain-removebg.png) no-repeat;
	background-size: contain;
	width: 300px;
	height: 300px;
	position: absolute;
	right: 275px;
	top: 770px;
}

@keyframes rotate360 {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }

  /* Respnsive */

  @media screen and (max-width: 768px) {
	body{
		/* width: 100%; */
		height: 140rem;
		height: max-content;
	}

	.home{
		padding: 100px 250px;
	}

	.start ul li .media-body {
		max-width: 400px;
		font-size: 2rem;
	  }
	

	.start ul li:nth-child(odd) {
		background: url(./assets/pline-2.png) 100px top no-repeat;
		/* padding-top: 30px !important; */
		padding-left: 360px !important;
	  }

	.home{
		/* padding: 0px 150px; */
	} 
	  
  /* animations */
	.compass,.mountain1,.mountain2,.mountain3,.mountain4,.skull{
		display: none;
	}
  }